In [1]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv(r'C:\Users\HP\Desktop\DL_Practicals\Dataset\Google_Stock_Price_Train.csv') #Path where the CSV file is stored.

In [4]:
train_df.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [5]:
test_df = pd.read_csv(r'C:\Users\HP\Desktop\DL_Practicals\Dataset\Google_Stock_Price_Test.csv') #Path where the CSV file is stored.

In [6]:
test_df.head()

       Date    Open    High     Low   Close     Volume
0  1/3/2017  778.81  789.63  775.80  786.14  1,657,300
1  1/4/2017  788.36  791.34  783.16  786.90  1,073,000
2  1/5/2017  786.08  794.48  785.02  794.02  1,335,200
3  1/6/2017  795.26  807.90  792.20  806.15  1,640,200
4  1/9/2017  806.40  809.97  802.83  806.65  1,272,400

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Open    20 non-null     float64
 2   High    20 non-null     float64
 3   Low     20 non-null     float64
 4   Close   20 non-null     float64
 5   Volume  20 non-null     object
dtypes: float64(4), object(2)
memory usage: 1.1+ KB

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
# Convert 'Close' column to string type and remove commas
train_df['Close'] = train_df['Close'].astype(str).str.replace(',', '').astype(float)
test_df['Close'] = test_df['Close'].astype(str).str.replace(',', '').astype(float)

In [11]:
# Normalize the training and testing data separately
train_scaler = MinMaxScaler()
train_df['Normalized Close'] = train_scaler.fit_transform(train_df['Close'].values.reshape(-1, 1))
test_scaler = MinMaxScaler()
test_df['Normalized Close'] = test_scaler.fit_transform(test_df['Close'].values.reshape(-1, 1))

In [12]:
# Convert the data to the appropriate format for RNN
x_train = train_df['Normalized Close'].values[:-1].reshape(-1, 1, 1)
y_train = train_df['Normalized Close'].values[1:].reshape(-1, 1, 1)
x_test = test_df['Normalized Close'].values[:-1].reshape(-1, 1, 1)
y_test = test_df['Normalized Close'].values[1:].reshape(-1, 1, 1)

In [13]:
print("x_train shape: ",x_train.shape)
print("y_train shape: ",y_train.shape)
print("x_test shape: ",x_test.shape)
print("y_test shape: ",y_test.shape)

x_train shape:  (1257, 1, 1)
y_train shape:  (1257, 1, 1)
x_test shape:  (19, 1, 1)
y_test shape:  (19, 1, 1)

In [14]:
train_df.head()

       Date    Open    High     Low   Close      Volume  Normalized Close
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500          0.237573
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400          0.241514
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300          0.228781
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900          0.216419
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800          0.178548

In [15]:
test_df.head()

       Date    Open    High     Low   Close     Volume  Normalized Close
0  1/3/2017  778.81  789.63  775.80  786.14  1,657,300          0.000000
1  1/4/2017  788.36  791.34  783.16  786.90  1,073,000          0.015344
2  1/5/2017  786.08  794.48  785.02  794.02  1,335,200          0.159095
3  1/6/2017  795.26  807.90  792.20  806.15  1,640,200          0.403998
4  1/9/2017  806.40  809.97  802.83  806.65  1,272,400          0.414092

In [16]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              20 non-null     object
 1   Open              20 non-null     float64
 2   High              20 non-null     float64
 3   Low               20 non-null     float64
 4   Close             20 non-null     float64
 5   Volume            20 non-null     object
 6   Normalized Close  20 non-null     float64
dtypes: float64(5), object(2)
memory usage: 1.2+ KB

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1258 non-null   object
 1   Open              1258 non-null   float64
 2   High              1258 non-null   float64
 3   Low               1258 non-null   float64
 4   Close             1258 non-null   float64
 5   Volume            1258 non-null   object
 6   Normalized Close  1258 non-null   float64
dtypes: float64(5), object(2)
memory usage: 68.9+ KB

In [18]:
from keras.models import Sequential
from keras.layers import LSTM, Dense

In [19]:
model = Sequential()
model.add(LSTM(4, input_shape=(1, 1)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 4)                 96

 dense (Dense)               (None, 1)                 5

=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.fit(x_train, y_train, epochs=100, batch_size=1, verbose=1)

Epoch 1/100
1257/1257 [==============================] - 8s 4ms/step - loss: 0.0529
Epoch 2/100
1257/1257 [==============================] - 5s 4ms/step - loss: 0.0095
Epoch 3/100
1257/1257 [==============================] - 5s 4ms/step - loss: 8.2118e-04
Epoch 4/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6009e-04
Epoch 5/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7351e-04
Epoch 6/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6505e-04
Epoch 7/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6411e-04
Epoch 8/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6731e-04
Epoch 9/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7169e-04
Epoch 10/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6298e-04
Epoch 11/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6598e-04
Epoch 12/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6550e-04
Epoch 13/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7625e-04
Epoch 14/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7595e-04
Epoch 15/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7230e-04
Epoch 16/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6658e-04
Epoch 17/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7024e-04
Epoch 18/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6957e-04
Epoch 19/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5754e-04
Epoch 20/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6522e-04
Epoch 21/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7746e-04
Epoch 22/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6196e-04
Epoch 23/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6894e-04
Epoch 24/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6222e-04
Epoch 25/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7229e-04
Epoch 26/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6723e-04
Epoch 27/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6496e-04
Epoch 28/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.8046e-04
Epoch 29/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6245e-04
Epoch 30/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6724e-04
Epoch 31/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6057e-04
Epoch 32/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5735e-04
Epoch 33/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6345e-04
Epoch 34/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4815e-04
Epoch 35/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6698e-04
Epoch 36/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7122e-04
Epoch 37/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6807e-04
Epoch 38/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6141e-04
Epoch 39/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6961e-04
Epoch 40/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6729e-04
Epoch 41/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5044e-04
Epoch 42/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6769e-04
Epoch 43/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5991e-04
Epoch 44/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6794e-04
Epoch 45/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6833e-04
Epoch 46/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5974e-04
Epoch 47/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6868e-04
Epoch 48/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5959e-04
Epoch 49/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5187e-04
Epoch 50/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5234e-04
Epoch 51/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6769e-04
Epoch 52/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6325e-04
Epoch 53/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4905e-04
Epoch 54/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7032e-04
Epoch 55/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.5216e-04
Epoch 56/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6054e-04
Epoch 57/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6181e-04
Epoch 58/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6185e-04
Epoch 59/100
1257/1257 [==============================] - 4s 3ms/step - loss: 7.6451e-04
Epoch 60/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7050e-04
Epoch 61/100
1257/1257 [==============================] - 4s 3ms/step - loss: 7.4430e-04
Epoch 62/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6181e-04
Epoch 63/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6336e-04
Epoch 64/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6084e-04
Epoch 65/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5776e-04
Epoch 66/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5564e-04
Epoch 67/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5796e-04
Epoch 68/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6231e-04
Epoch 69/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5416e-04
Epoch 70/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5977e-04
Epoch 71/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6546e-04
Epoch 72/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4929e-04
Epoch 73/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5970e-04
Epoch 74/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6876e-04
Epoch 75/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6379e-04
Epoch 76/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6252e-04
Epoch 77/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4748e-04
Epoch 78/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4625e-04
Epoch 79/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6318e-04
Epoch 80/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5034e-04
Epoch 81/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5165e-04
Epoch 82/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.7540e-04
Epoch 83/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5376e-04
Epoch 84/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6254e-04
Epoch 85/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5183e-04
Epoch 86/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6529e-04
Epoch 87/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4765e-04
Epoch 88/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5444e-04
Epoch 89/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.4443e-04
Epoch 90/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.6158e-04
Epoch 91/100
1257/1257 [==============================] - 4s 3ms/step - loss: 7.6760e-04
Epoch 92/100
1257/1257 [==============================] - 4s 3ms/step - loss: 7.4904e-04
Epoch 93/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5839e-04
Epoch 94/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.4534e-04
Epoch 95/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6065e-04
Epoch 96/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6136e-04
Epoch 97/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.5798e-04
Epoch 98/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.4745e-04
Epoch 99/100
1257/1257 [==============================] - 4s 4ms/step - loss: 7.6241e-04
Epoch 100/100
1257/1257 [==============================] - 5s 4ms/step - loss: 7.5226e-04

In [21]:
test_loss = model.evaluate(x_test, y_test)
print('Testing loss: ', test_loss)

1/1 [==============================] - 1s 1s/step - loss: 0.0251
Testing loss:  0.0251482967287302

In [22]:
y_pred = model.predict(x_test)

1/1 [==============================] - 1s 850ms/step

In [23]:
# Inverse transform the normalized values to get the actual values
y_test_actual = test_scaler.inverse_transform(y_test.reshape(-1, 1))
y_pred_actual = test_scaler.inverse_transform(y_pred.reshape(-1, 1))

In [24]:
i=1

In [25]:
print("Actual value: {:.2f}".format(y_test_actual[i][0]))
print("Predicted value: {:.2f}".format(y_pred_actual[i][0]))

Actual value: 794.02
Predicted value: 787.18